.main-container{
  margin: 16px;
  padding: 8px;
}
.full-width{
  width: 40%;
}
.card-container{
  margin: 8px;
  padding: 8px;
  width: 40%;
}
.img-card{
  height: 70%;
  width: 60%;
  display: block;
}
.grid {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: masonry;
}
.color-container{
  margin: 8px;
  padding: 8px;
  background-color: #fefefe;
  border-radius: 12px;
}
.text-align{
  text-align: center;
  padding-top: 1px;
}