.main-container{
  margin: 16px;
  padding: 8px;
}
.full-width{
  width: 40%;
}
.card-container{
  margin: 8px;
  padding: 8px;
  width: 40%;
}
.img-card{
  height: 70%;
  width: 60%;
  display: block;
}